<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="quicklinks">
                    {% for link in site.data.footer.menu_left %}
                    <li><a href="{{ link.href }}" class="contact-link ">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="quicklinks">
                    {% for link in site.data.footer.menu_center %}
                    <li><a href="{{ link.href }}" class="contact-link ">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="quicklinks">
                    {% for link in site.data.footer.menu_right %}
                    <li><a href="{{ link.href }}" class="contact-link ">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
