<!-- Header Large -->
<header id="{{ block_data.id }}"  class="bc-block bc-block-header bc-block-header-large bc-theme-{{ block_data.theme }}">
    <div class="container">
        <div class="intro-text">
            <h1 class="intro-lead-in">{{ block_data.title }}</h1>
            <div class="intro-heading">{{ block_data.subtitle }}</div>
            <div class="intro-dates">{{ block_data.description }}</div>
            <div class="col-md-push-3 col-md-6">
        	{% if block_data.action %}
            <a href="{{ block_data.action.href }}" 
               class="page-scroll btn btn-xl btn-block"
               {% if block_data.action.blank %}
               target="_blank"
               {% endif %}
               >{{ block_data.action.text }}</a>
        	{% endif %}
            </div>
        </div>
    </div>
</header>

