<!-- Columns Section -->
<section id="{{ block_data.id }}" class="bc-block bc-block-values">
    <div class="container">
        <div class="row">
            <div class="bc-block-heading col-lg-12 text-center">
                <h2 class="bc-block-title">{{ block_data.title }}</h2>
                <h3 class="bc-block-subtitle">{{ block_data.subtitle }}</h3>
            </div>
        </div>
        <div class="row">
        	{% assign bs_columns = block_data.items | size | at_least: 1 %}
        	{% assign bs_column_md = 12 | divided_by: bs_columns | at_most: 12 %}
        	{% assign bs_column_sm = bs_column_md | times: 2 | at_most: 12 %}
        	{% assign bs_column_xs = bs_column_md | times: 3 | at_most: 12 %}
            {% for item in block_data.items %}
            <div class="col-xs-{{ bs_column_xs }} col-sm-{{ bs_column_sm }} col-md-{{ bs_column_md }}">
            	{{ item.description | markdownify }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
