
.bc-block-people-large {

  .section-heading {
	  margin-bottom: 75px;
  }

  .team-member {
    margin-bottom: 50px;
    text-align: center;
  }

  .team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
  }

  .team-member h4 {
      margin-top: 0;
    text-align: left;
    margin-bottom: 25px;
    height: 25px;
    text-transform: none;
  }


  .team-member p {
    margin-top: 0;
    min-height: 3em;
    margin-top: 15px;
    // border-top: 1px solid black;
    margin-bottom: 25px;
  }

  ul.social-buttons {
    text-align: left;
    margin-bottom: 0;
  }

  ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }


  ul.social-buttons li.social-blog a {
    width: 10em;
    border-radius: 20px;
    padding: 0 10px;
  }

  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    background-color:  $colorPrimary ;
  }

  @media (max-width: 768px) { 
    // &.bc-block-people-large 
    .team-member h4 {
      margin-top: 25px;
      text-align: center;
    }
    // 

    ul.social-buttons {
      text-align: center;
    }
  }
}
