<!DOCTYPE html>
<html lang="{{site.active_lang}}">
  	{% include html_head.html %}
    <body id="page-top" class="index">
    	{% include menu.html %}
    	{% for block in site.data[page.data] %}
    		{% assign block_data = site.data[block.data] %}
    		{% case block_data.layout %}
    			{% when 'header_large' %}{% include blocks/header_large.html %}
    			{% when 'header_small' %}{% include blocks/header_small.html %}
    			{% when 'contact' %}{% include blocks/contact.html %}
    			{% when 'cards' %}{% include blocks/cards.html %}
    			{% when 'features' %}{% include blocks/features.html %}
    			{% when 'people' %}{% include blocks/people.html %}
    			{% when 'text_columns' %}{% include blocks/text_columns.html %}
    			{% when 'partners' %}{% include blocks/partners.html %}
    			{% else %}Unknown type "{{ block_data.layout }}" in page "{{page.data}}"!
    		{% endcase %}
    	{% endfor %}

    	{% comment %}
    		{% include product_cards.html %}
		{% endcomment %}

    	{% include footer.html %}
    	{% comment %}{% include modals.html %}{% endcomment %}
    	{% include js.html %}
    </body>
</html>
